<div class="content">
        <div class="row card m-4">
            <div class="col-md-4">
                <h5>{{orderforsell[0].username}}</h5>
            </div>
            <div class="col-md-4">
                    <h5>{{orderforsell[0].Email}}</h5>
                </div>
                <div class="col-md-4">
                        <h5>{{orderforsell[0].FullAddress}}</h5>
                    </div>
                    <div class="col-md-4">
                            <h5>{{orderforsell[0].Landmark}}</h5>
                        </div>
                        <div class="col-md-4">
                                <h5>{{orderforsell[0].Locality}}</h5>
                            </div>
                            <div class="col-md-4">
                                    <h5>{{orderforsell[0].Mobile}}</h5>
                                </div>
                                <div class="col-md-4">
                                        <h5>{{orderforsell[0].Pin}}</h5>
                                    </div>
                                    <div class="col-md-4">
                                            <h5>{{orderforsell[0].State}}</h5>
                                        </div>
        </div>
</div>